.ant-menu.ant-menu-inline.ant-menu-sub{
    li:hover {
    background-color: #ffffff;
    .link{
        color: #000000;
    }
    }
}
.ant-menu-sub-menu{
    &-title{
        font-weight: 500;
    }
}
.ant-menu-item{
    // padding-left: 24px!important;
    a{
        font-weight: 500;
    }
    &-selected{
        background-color:red!important;
        color:#000000;
        }
}
    