.btn{
    padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	// font-family:$principal-font
	text-transform:uppercase;
	font-weight: 400;
	// border: 1px solid green;
	vertical-align: middle;
	display: inline-block;
	text-decoration:none;
	box-sizing:border-box;
	margin-right: 5px
}
.btn.btn-margin{
	margin-right: 5px;
}
.btn.btn-success{
    .btn(#fff,#ff0000,#ff0000,true,true)
}
.btn.btn-default{
    .btn(#000,transparent,#000000,true,true)
}