.ant-table-wrapper{
    .ant-table{
        border:0px;
        &-thead{
            background-color: #000;
            tr th{
                font-weight: bold;
            }
        
        }
    }
    .ant-table-small{
        .ant-table-body{
            table{
                padding: 0px!important;
            }
            // tr:hover{//ocultar Boton de Tablas
            //     a {opacity: 0;}
            // }
        }
    }
}