.form__button{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: @primaryColor;
  padding: 15px;
  text-align: center;
  transition: 1s all ease-in;
  z-index: 600;
  &__ok{
    font-weight:bold;
  }
}