.ant-menu{
    @media screen and(min-width:768px) {
        &-submenu{
            &-title{
                border-bottom: 1px solid lightness(#ffffff,30%);
                & .menu__subtitle{
                    display: flex;
                    align-items: center;
                }
            }
            // &-selected div :first-child{
            //     background: red;
            // }
        }
        &-inline{
            .ant-menu-sub{
                li:hover {
                    background-color: #ffffff;
                    .link{
                        color: #000000;
                        }
                    }
            }
        }
        &-item{
            padding-left: 30px!important;
            a{
                font-weight: 100;
            }
            &-selected{
                background-color:#ffffff!important;
                a{color:#000000!important;}
                border-bottom: 10px solid #ffffff;
                }
        }
    }
}