@primaryColor: #50EFD9;
@secondaryColor: #171C24;
@errorColor: #C60000;
@GrayColor: #7E8998;
@lightGrayColor: #F6F5FA;
@darkGrayColor: #46505A;
@footerTextColor: #7E8998;

@primaryFont: 'Raleway', sans-serif;